@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;

}

.container{
    width: 80%;
    margin: 0 auto;
}

.navbar{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item{
    display: flex;
    gap: 25px;
    align-items: center;
    cursor: pointer;
}

.cart{
    list-style: none;
}

.nav-links {
    list-style: none;
}


.bars{
    display: none;
}

/* hero section is started here */

.hero-section{
    margin-top: 50px;
    display: flex;
    gap: 30px;
    margin-bottom: 70px;
}

.hero-content{
   
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.hero-content h1{
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.hero-content p{
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 600;
    width: 80%;
}

.hero-content button{
    border-radius: 41px;
    background: rgb(224, 44, 109);
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 0.8rem;
    font-weight: 700;
    border: none;
    padding: 10px 18px;
    margin-top: 10px;
    width: 30%;
}

.hero-image{
    /* width: 50%; */
    box-sizing: border-box;
    border: 2px solid rgb(241, 228, 255);
    border-radius: 50%;
    padding: 30px;
}

.hero-image img{
    width: 100%;
    background-color: rgb(233, 237, 240);
    border-radius: 50%;
   
}

/* sponsor section */

.sponsor-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;

}

.sponsor-container img{
    width: 100%;
}


/* popular collection is started here */
.popular-collection-container{
    margin-bottom: 90px;
}

.popular-collection-container h2{
    text-align: center;
    margin-bottom: 50px;
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 600;
}

.card-container{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

.popular-collection-container h4{
    text-align: right;
    margin-top: 20px;
    color: rgba(224, 44, 109, 0.87);;
}

.card img{
    width: 100%;
}

.card{
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    padding: 20px;
    
}

.card-content i{
    
    color: rgb(251, 130, 0);
}

/* Feature container is starts here */

.features-product-container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.feature-image{
    width: 50%;
}

.feature-image img{
    width: 100%;
}

.feature-content{
    width: 50%;
    padding: 70px 50px;
}

.feature-content h1{
    color: rgb(10, 8, 38);
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 700;
}
    
.feature-content p{
    color: rgb(108, 108, 108);
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
}

.feature-content button{
    background: rgb(224, 44, 109);
    padding: 10px 20px;
    border: none;
    color: white;
}
    








/* Responsive section here */

/* navbar section */
@media screen and (max-width:576px) {
    .nav-links{
        display: none;
    }

    .cart{
        display: block;
    }

    .bars{
        display: block;
    }

    .hero-section{
        flex-direction: column-reverse;
    }

    .hero-content{
   
        width: 100%;
        
    }

    .hero-content p{
        width: 100%;
    }

    .hero-content button{
        
        width: 50%;
    }

    /* sponsor section is here */

    .sponsor-container{
        flex-wrap: wrap;
    }

    /* popular section is here */

    .card-container{
    
        grid-template-columns: 1fr;
    
    }

    /* feature product is here */
    .features-product-container{
        flex-direction: column-reverse;
    }

    .feature-image{
        width: 100%;
    }

    .feature-content{
        width: 100%;
        padding: 20px 10px;
        text-align: center;
    }
    .popular-collection-container{
        margin-bottom: 50px;
    }
    
}

